.openTasks th.selector { width:3%; }
.openTasks th.col_action { width:3%; border-left: 1px solid #b0b4b6;} 
.openTasks th.col_open_id { width:5%; }
.openTasks th.col_name,
.openTasks td.col_task_name { width:43%; }
.openTasks td.col_task_items,
.openTasks th.col_items { width:7%; }
.openTasks th.col_due_date,
.openTasks td.col_due_date,
.openTasks th.col_status,
.openTasks td.col_status { width:9%; }
.openTasks th.col_requested_by,
.openTasks td.col_by { width:30%; border-right: 1px solid #b0b4b6; } 

.col_sort { display: none; }
.form-button{ margin-right: 5px; }
.first { margin-right:0px; }
