.pendingTasks th.selector { width:3%; }
.pendingTasks th.col_id { width:5%; }
.pendingTasks th.col_name { width:45%; }
.pendingTasks td.col_task_items,
.pendingTasks th.col_items { width:7%; }
.pendingTasks th.col_due_date { width:10%; }
.pendingTasks th.col_requested_by,
.pendingTasks td.col_by { width:35%; border-right: 1px solid #b0b4b6; } 


/*.pendingTasks th.selector { width:3%; }
.pendingTasks th.col_id { width:5%; }
.pendingTasks th.col_name { width:43%; }
.pendingTasks th.col_items { width:5%; }
.pendingTasks th.col_completed { width:15%; }
.pendingTasks th.col_by { width:5%; border-right: 1px solid #b0b4b6; } 
.pendingTasks .col_sort { display: none; }*/
