#TaskFilter ul { margin-top: 20px; width:100%;}
#TaskFilter ul li { list-style: none; background:#eee; width:100%; padding:10px; padding-right:0px; border: 1px solid #b0b4b6; border-right: none; cursor:pointer; position: relative;}
#TaskFilter ul li.active  { z-index:1; background:#fff}
#TaskFilter ul li a { color:#333; text-decoration: none;}