.ax-modal .submit-schedule {padding-left:25px;}
.ax-modal .submit-schedule select.submit-time {width:auto;}
.ax-modal .submit-schedule input.submit-date {margin-left: 6px; border: 1px solid #AEAFB1;}
